body {
    font-family: system-ui;
    text-align: center;
    padding: 2rem;
  }
  h2{
    text-align: left;
  }
  table {
    position: relative;
    border-collapse: collapse;
    width: 664px;
    
  }

  .search-bar input {
    width: 60%;
    border: 2px solid #f0f8ff;
    }

    .search-bar {
      width: 100%;
      text-align: left;
  }

  td {
    border: 2px dashed skyblue;
    text-align: left;
    padding: 8px;
  }
  
  thead th {
    text-align: left;
    padding: 8px;
    background: lavender;
    max-width: 43%;
  }
  
  thead {
    top: 0;
    position: sticky;
  }
  
  tr:nth-child(even) {
    background-color: aliceblue;
  }